@charset "UTF-8";
$brand-primary:             #bda052; // #00C1DE;蓝色
$brand-secondary:           #339d8f; // #00C1DE;蓝色
$brand-success:             #00c1de;//#0c3;      // #00c583; // #3ba80d;
$brand-info:                #430507;
$brand-warning:             #ff864a;
$brand-danger:              #e03627;   //#e93e5a; change @wangxiong
$brand-tip:                 #ff864a;   // add @wangxiong 浅黄色
$brand-price:               #f00;      //  价格color

$gray-dark:                 #303030;
//$gray:                      #6b6b6b;
$gray:                      #666;
$gray-light:                #909090;
$gray-lighter:              #a1a1a1;
$gray-lightest:             #ccc;


$font-path: "../fonts";                  //字体路径
$images-path: "../images/";              //图片路径


$box-border-color:      #e4e4e4;        // 边框颜色
$box-border-deep:       #d7d7d7;        //边框颜色加深
$box-border-gray:       #f2f2f2;        //边框颜色加浅


$body-color:            $gray;          // 正文文字颜色
$sub-color:             $gray-lighter;  // 辅助文字
$title-color:           $gray-dark;     // 标题类文字

$body-bg:               #fafafa;        //重写body背景
$table-border-color:    #d7d7d7;        //表格边框
$table-bg-color:        #ebebeb;
$slideWidth :           11.25rem; //左则宽度 215px;
//$head-nav-height:       60px;   //顶部高度


//重置bt 变量
$tag-padding-y:             .6em !default;
$tag-font-size:             .875rem;
$tag-default-color:         $gray;
$breadcrumb-divider:        "/\00a0";
$breadcrumb-divider-color:  #ccc;
$nav-tabs-active-link-hover-color :$brand-primary;

$ctn-space:             1rem;          // 内容区域间距
$ctn-space:             1rem;          // 内容区域间距

$coordinate : (          //表单状态图标
              success : 0 -117px,
              //error   : -38px -81px, 空心 error
              error   : -17px -100px,
              warning : -68px -100px,
              suggeset:-17px -117px,
              loading : 0 0,
              weak    : -17px -134px,
              medium  : -34px -117px,
              strong  : -34px -134px,
              del     : -125px -147px
);  //状态小图标


//------------------component
