// 入驻 缴费
.entrysuccess-pane{
  margin-top:5.625rem;
  padding:{
    left:0;
    right:0;
    bottom:10rem;
  }
  text-align: center;

  h1{
    margin:{
      left: 300px;
      right:300px;
    }
    color:$brand-success
  }

  .choose-submit{
    margin:{
      left: 285px;
      right:285px;
    }
    padding-top: 5rem;
  }

  .entry-help{
    display:inline-block;
    margin-left:-30px;
    padding-top:4rem;
    img{
      float:left;
    }

    .media-body{
      width:auto;
      vertical-align:bottom;
      text-align:left;
    }
  }
}
.entrysuccess-audit{
  border-color:transparent;
  background:transparent;
}
.choose-cash-category{
  padding-top:60px;
  text-align:center;
  .cash-item{
    position:relative;
    display:inline-block;
    width:300px;
    padding:1rem 2rem;
    @include border($width:3px);
    overflow:hidden;
    cursor:pointer;
    h3{
      font-size:1.5rem;
      padding-bottom:1rem;
      @include border(bottom);
    }
    .intro{
      text-align:left;
      color:$gray-lighter;
    }
    .price{
      padding-top: 1.5rem;
    }
    .amount{
      color:$brand-price;
    }
    strong{
      font-size: 36px;
    }

    & + .cash-item{
      margin-left:60px;
    }

    &.selected{
      border-color: $brand-primary;
      .selected-flag{
        visibility: visible;
      }
    }
    .selected-flag{
      position:absolute;
      top:-24px;
      right:-44px;
      padding:0 30px;
      @include transform-origin( 0 50%);
      @include rotate(45deg);
      color:#fff;
      font-size:14px;
      background:$brand-primary;
      visibility: hidden;
    }
  }
}
.ui-entry-success{
  display:inline-block;
  width:32px;
  height:32px;
  margin-right:.5rem;
  vertical-align:-5px;
  background:url("#{$images-path}entrySuccess.png") no-repeat;
}