@charset "UTF-8";
.catering-panel{
  padding:1rem;
  background:#fff;

  .search-container{
    padding:.5rem .5rem 0 .5rem;
    background:darken($body-bg,1%);
    .search-item{
      vertical-align: middle;
    }

    .search-input{
      margin-left: 10rem!important;
    }

    .check-option{
      margin-right:.5rem;
      padding:4px .5rem;
      @include border-radius(.25rem);
      cursor:pointer;
      background:#fff;
      &:hover{
        color:#fff;
        background:$brand-primary;
      }
    }
  }

  .menuList-data,.menuTag-data,.menuRule-data{
    margin-top:.5rem;
   padding:0;
    //background:#eee;
  }
  .table-head{
    thead{
      th,td{
        background:$table-bg-color;
      }
    }

  }
 //菜品分组
  .menuGroup-data{
    margin-top:.5rem;

    //.inner{}

    .menuGroup-list{
      padding:1rem;
      background:$table-bg-color;
    }

    .menuGroup-item{
      float:left;
      width:250px;
      margin-bottom:1rem;
      margin-right:2rem;
      padding:.5rem;
      @include border($color:$box-border-deep);
      font-size:12px;
      text-align:center;
      background:$body-bg;


      &:hover{
        border-color:$brand-primary;
      }

      //& + .menuGroup-item{
      //
      //}
    }
    @at-root {
      .menuGroup-item{
        h3{
          padding-bottom:2rem;
          font-size: 1rem;
        }
        .intro{
          margin-bottom:0;
          text-align:right;
        }
      }
    }
  }



  //增加菜品
  .ui-options{
    line-height:35px;
    //line-height:32px;
  }
  //启用规格
  .openRule-box{
     display:inline-block;
     //width:200px;
  }
}
//增加菜品
.addmenu-form{
  .menuCate-logo{

    .upload-tips{
      display:inline-block;
    }
    .upload-help{
      display:block;
    }

    .upload-img-wrapper{
      float:left;
      margin-right:1.5rem;
      padding-top:0;
      width:100px;
      height:100px;
      text-align:center;
      @include box-shadow(inset 0 0 0 1px rgba(0,0,0,.1));

      @extend %children-middle;
    }
  }

  input.form-control{
    display:inline-block;
    //width:200px;
    @include width200($extend :false);
  }
  .m-select,.input-group{
    display:inline-table;
    @include width200($extend :false);
  }
  textarea{
    width:450px;
  }
  .menu-taste-label{
    display:inline-block;
    vertical-align: middle;
    margin-left:1rem;
  }

  .offset-sm-label{
    padding-right:1rem;
    text-align:right;
  }

  .label-required{
    &:after{
      margin-right:-9px;
    }
  }
}
//.dialog-add-menuRule{
//  .modal-paramRule-box{
//    height:200px;
//    overflow:auto;
//    @extend %custom-scroll-bar
//  }
//}
