@charset "UTF-8";
.m-select{
  .dropdown-options-panel{
    width:500px;
    max-height:none;
    padding:.5rem;
  }
}
.dropdown-options-panel{

  .options-content{
    min-height:100px;
    max-height:300px;
    margin-left:-.5rem;
    overflow:auto;
    @extend %custom-scroll-bar;

    a{
      margin:0 .5rem .5rem;
    }
    .text-helper{
      text-align:left;
      padding-left:.5rem;
    }
  }

  .options-status{
    padding-top:.5rem;
    text-align:right;
  }
}
