@charset "UTF-8";
.meeting-panel{
  .search-container{
    margin-bottom:2rem;
    padding:1rem 1rem .5rem 1rem;
    background:#fff;
  }
  .search{
    .search-item{
      margin-right:2rem;
    } 
  }
}